// ==================
//    variable
// ==================

// breakpoint
$BP_L: 960px;
$BP_M: 780px;
$BP_S: 480px;

// color
$C_BLACK: black;
$C_WHITE: white;
$C_GRAY: gray;
$C_RED: red;
$C_BLUE: blue;
$C_GREEN: green;

// main color
$C_BASE: #000;
$C_SUB0: #fff;

$C_SUB1: #F4906B; // 瀕死
$C_SUB2: #D32500; // 死亡

// font
$BASE_FONT_SIZE: 10px;
$MAIN_FONT_FAMILY: 'Press Start 2P', cursive;
